[user]
  name = purple-jwl
  email = purple.jwl@gmail.com

[core]
  excludesfile = ~/.gitignore
  pager = less -r
  safecrlf = true

[color]
  ui = auto

[alias]
  br = branch -v
  ci = commit
  co = checkout
  d = diff
  dc = diff --cached
  f = fetch --prune
  l = log --graph
  ls = log --graph --stat
  st = status

[ghq]
  root = ~/workspace
